.outer_container {
    background-color: #111;
    color: #808080;
    display: flex;
    justify-content: center;
    /* height: 40vh; */
    padding-block: 1%;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #111;
}
.inner_container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    height: 75%;
}
.footer_list {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;

}
.footer_list ul {
list-style: none;
display: flex;
flex-direction: column;
height: 15vh;
justify-content: space-around;

}

.service_code {
    border: 1px solid white;
    width: 10%;
  text-align: center;
  padding: 5px 0;
  margin: 10px 0;
}

.icons {
    color: #fff;
    display: flex;
    gap: 1rem;
}